@{
    ViewBag.Title = "Character List";
}

<h3>Recent Loot Received</h3>

<div id="lootGrid"></div>

<!--
<div id="need-confirmation">
    <button data-bind="click: confirmation">Confirmation</button>
</div>
    -->