/* line 1, ../../sass/Application.scss */
.death-knight {
  color: #C41F3B;
}

/* line 2, ../../sass/Application.scss */
.druid {
  color: #FF7D0A;
}

/* line 3, ../../sass/Application.scss */
.hunter {
  color: #ABD473;
}

/* line 4, ../../sass/Application.scss */
.mage {
  color: #69CCF0;
}

/* line 5, ../../sass/Application.scss */
.monk {
  color: #00FF96;
}

/* line 6, ../../sass/Application.scss */
.paladin {
  color: #F58CBA;
}

/* line 7, ../../sass/Application.scss */
.priest {
  color: #000;
}

/* line 8, ../../sass/Application.scss */
.rogue {
  color: #FFF569;
}

/* line 9, ../../sass/Application.scss */
.shaman {
  color: #0070DE;
}

/* line 10, ../../sass/Application.scss */
.warlock {
  color: #9482C9;
}

/* line 11, ../../sass/Application.scss */
.warrior {
  color: #C79C6E;
}

/* line 14, ../../sass/Application.scss */
.list-group .list-group-item {
  background-color: #efefef;
}

/* line 19, ../../sass/Application.scss */
.modalDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  padding: 1.4rem;
  border: 1px solid;
  border-radius: 3px;
  box-shadow: 10px 10px 5px #888888;
}

/* line 34, ../../sass/Application.scss */
.ItemQuality-2 {
  color: #1eff00;
}

/* line 38, ../../sass/Application.scss */
.ItemQuality-3 {
  color: #0070ff;
}

/* line 42, ../../sass/Application.scss */
.ItemQuality-4 {
  color: #a335ee;
}

/* line 46, ../../sass/Application.scss */
.ItemQuality-5 {
  color: #ff8000;
}

/* line 50, ../../sass/Application.scss */
.ItemQuality-6, .ItemQuality-7 {
  color: #e6cc80;
}

/* line 57, ../../sass/Application.scss */
.ItemLevel-572 {
  font-weight: bold;
}
